@model IEnumerable<Application.Products.Queries.GetProductByIdById.GetProductByIdQueryResponseDTO>

@{
    ViewData["Title"] = "View Products";
}

<h2>@ViewData["Title"]</h2>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Sku</th>
            <th>Name</th>
            <th>Categories</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Sku</td>
                <td>@item.Name</td>
@*                 <td>
                     @foreach (var category in item)
                     {
                         @category.Name <br />
                     }
                </td> *@
                <td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Product</a>
</p>